@font-face {
  font-family: 'JosefinSans-SemiBold';
  src: url('./styles/Fonts/JosefinSans-SemiBold.ttf');
}
@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url('./styles//Fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Lato-Regular';
  src: url('./styles/Fonts/Lato-Regular.ttf');
}
@font-face {
  font-family: 'lobster two';
  src: url('./styles/Fonts/LobsterTwo-Regular.ttf');
}
body{
  background: rgba(242,242,242,.4);
}
.entry-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}
p.app-name{
  font-size: 25px;
  font-family:"lobster two";
  font-weight: 700;
  margin: 20px 0 2.2rem 0;
}
.app-phrase{
  font-family: RobotoCondensed-Regular;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.entry-page-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.entry-page-btn a{
  width: 100%;
  display: inline-block;
  padding: 1.4em 2em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}
.entry-btn-opt{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
}
.entry-btn-opt span{
margin: 0 3px;
}
.entry-btn-opt a{
  font-weight: 500;
  color:rgba(55,125,255,1);
}

.loader{
  width: 100vw;
  height:60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  
}
.loader-logo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.loader-logo span{
  font-size: 60px;
  /* color:rgba(55,125,255,1); */
  color:rgba(16, 86, 216, 1);
  animation: fadeInOut 3s infinite;
}

.loader-name{
  font-size: 25px;
  font-weight:500;
  width: 100vw;
  align-self: center;
  text-align: center;
  font-family: 'RobotoCondensed-Regular';
  color:rgba(16, 86, 216, .6);
  font-style: oblique;
  margin-top: 10px;
  
}

@keyframes fadeInOut {
  0% { opacity: .4; }
  50% { opacity: 1;  }
  100% { opacity: .2; }
}

.error-404{
  width: 100vw;
  background:white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-404 img{
  width: 100%;
  height: auto;
  pointer-events: none;
  object-fit: cover;
}

.error-404-back{
  display: flex;
  justify-content: center;
}

.error-404 a{
  display: inline-block;
  border-radius: 10px;
  align-self: center;
  font: 400;
  font-family: "RobotoCondensed-Regular";
  padding:10px 30px;
  color: rgba(55,125,255,1);
  box-shadow: 0 0 3px rgba(55,125,255,1);
  
  
}

/* page for non logedin user */
.no-auth{
  height:100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-auth-content div:first-child span{
  display: block;
  margin: 5px 0;
}

.no-auth-content div:first-child span:first-child{
  font-size: 30px;
}

.no-auth-content div:last-child{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato-Regular';
}

.no-auth-content div:last-child p{
  color: #444;
  margin-bottom: 10px;
}



/* close btn of authentication warnings in some pages */
.auth-err-close{
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius:50%;
  position: fixed;
  color: #cc3300;
  background: transparent;
  border: none;
  outline: none;
  right: 30px;
  z-index: 2;
  
}
