@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('./Fonts/JosefinSans-SemiBold.ttf');
  }
  @font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('./Fonts/RobotoCondensed-Regular.ttf');
  }
  @font-face {
    font-family: 'Lato-Regular';
    src: url('./Fonts/Lato-Regular.ttf');
  }
.post{
    padding: 15px 10px;
    display: flex;
}
.post .avatar{
    padding: 5px;
    box-shadow:0 0 2px .7px rgba(0, 0,0,.2);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 5px;
}
.post .avatar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post-content{
    width: 85%;
    padding: 15px 10px 2px 10px;
    border: solid .3px rgb(255, 255,255);
    /* box-shadow: inset 0 0 1px .5px rgba(0, 0,0,.2); */
    box-shadow: .001px 1px .5px rgba(0,0,0,.09);
    border-radius: 5px;
}

.posted-user{
    padding: 3px 0;
    font-size: 16px;
    font-weight: 600;
    font-family:  apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: #001;

}
.posted-on{
    margin: 0 0 5px ;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-family: RobotoCondensed-Regular;
}

.notes p{
    line-height:normal;
    /* text-align: justify; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 14px;
    overflow: hidden;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    
}

.post-imgs{
    display: grid;
    /* height: 150px; */
    width: 100%;
    /* padding: 10px 5px; */
    margin: 5px 0  0 0;
}
.post-imgs-single{
    
}
.post-imgs-many{
    grid-template-columns: 1fr 1fr;
}
.post-imgs-many img{
    height: 80px;
}
.post-imgs img{
    height: 150px;
    width: 100%;
    object-fit: contain;
    border: solid .3px rgb(255, 255,255);
    /* box-shadow:0 0 1px .5px rgba(0, 0,0,.2); */
    border-radius: 5px;
    align-self: center;
    /* margin: 2px;  */
}

.reactions-sec{
    display: flex;
    margin: 5px 0;
    align-items: center;
}

.like-btn, .comment-btn{
    /* border: solid .3px rgb(255, 255,250);
    box-shadow:0 0 2px .5px rgba(0, 0,0,.3); */
    /* height: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    border-radius: 5px;
    /* height: 38px; */
    padding: 5px;
    font-size: 12px;
    cursor: pointer;

}

.reactions-sec input{
    background: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 38px;
  padding: 5px 30px;
  background: rgb(255, 255,250);
  box-shadow:0 0 2px .7px rgba(0, 0,0,.2);
 
}