.main-profile{
    padding: 20px 15px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif
}

.top-most-profile{
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-img{
    width: 120px;
    height: 120px;
    position: relative;
    margin-right: 10px;
    background: rgb(255,255,255);
    border-radius: 15px;
    
}

.profile-img img{
    height: inherit;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.profile-img input[type="file"]{
    display: none;
}

.profile-img label{
    height: 35px;
    width: 35px;
    border-radius:50%;
    display: block;
    padding: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    
}

.profile-id-details{
    display: flex;
    flex-direction: column;
  
}

.edit-btn{
    text-align: right;
    cursor: pointer;
}
.edit-btn span{
    font-size: 20px;
}
.profile-username, .profile-level,
.profile-session{
    padding:2px 0;
    
}
.profile-username > span, 
.profile-level > span,
.profile-session > span{
    display: block;
}

.profile-username > span:nth-child(2),
 .profile-level > span:first-child{
    font-weight: 600;
    font-size: 16px;
}

.profile-subs{
    font-size: 12px;
    color: #444;
    font-weight: 400;
}

.profile-session span:first-child span{
    margin-right:15px;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
}

.profile-middle-part{
    margin-top: 20px;
    font-weight: 500;
    padding-left: 20px;

}

